/* remove the original arrow */

select + .arrow {
    float: right;
    margin-top: -30px;
    margin-right: 5px;
    pointer-events: none;
    background-color: #fff;
    padding-right: 5px;
    font-size: 25px;
    padding: 0px;
    color: blue;
}